<!-- 
<nz-ribbon nzText="Hippies">
</nz-ribbon>-->
<nz-card [nzLoading]="loading"   nzHoverable [nzTitle]="extra?titleTemplate: undefined" class="h-100" [nzExtra]="extra?extraTemplate : undefined"
[nzCover]="coverTemplate" [routerLink]="route" >
    <nz-card-meta [nzTitle]="!extra? titleTemplate:null" [nzDescription]="descriptionTemplate"></nz-card-meta>
    <ng-content></ng-content>

    <ng-template #coverTemplate>
      <div class="image-container" *ngIf ="imageUrl">
        <img  [ngStyle]="{'transform': 'scale(' + zoomImage + ')'}"  *ngIf ="!preview"  alt="{{ alt }}" [src]="imageUrl" />
        <img nz-image [ngStyle]="{'transform': 'scale(' + zoomImage + ')'}"  *ngIf ="preview"  alt="{{ alt }}" [nzSrc]="imageUrl" />

      </div>
    </ng-template>
  </nz-card>


  <ng-template #titleTemplate>
   <ng-container>{{title}}</ng-container> 
  </ng-template>
  

  <ng-template #descriptionTemplate>
    <ng-content select="[description]"></ng-content>
  </ng-template>

  <ng-template #extraTemplate>
    <ng-content select="[extra]"></ng-content>
  </ng-template>

