<header>
  <div class="d-flex justify-content-between align-items-end navbar-border">
    <h3 class="float-md-start mb-0">
      <span nz-typography>Hans López</span>
      <h5>
        <span nz-typography nzType="secondary">{{'navbar.fullstack' | translate | uppercase }}</span>
      </h5>
    </h3>

    <ng-container *ngIf="isMobile; then navbarMobile else navbarModel">
    </ng-container>

  </div>
</header>

<ng-template #navbarMobile>
  <nz-affix class="toc-affix" [nzOffsetTop]="80" >
    <button nz-button nzType="default" (click)="open()" style="height: 40px; width: 40px; border-right: 0px;">
      <span nz-icon [nzType]="isOpen() ? 'menu-unfold' : 'menu-fold'"></span>
    </button>
  </nz-affix>

  <nz-drawer
  [nzClosable]="false"
  [nzVisible]="visible"
  nzPlacement="right"
  (nzOnClose)="close()"
>
  <ng-container *nzDrawerContent>
    <template *ngTemplateOutlet="navbarModel"></template>

  </ng-container>
</nz-drawer>
</ng-template>


<ng-template #navbarModel>
  <ul nz-menu [nzMode]="isMobile? 'inline' : 'horizontal'" class="text-md-center" [ngClass]="isMobile? 'h-100':''" style="text-wrap: pretty;">
    <li nz-menu-item nzMatchRouter>
      <a [routerLink]="['/','home']">
        <span nz-icon nzType="home" nzTheme="outline"></span>
        {{'navbar.home' | translate | uppercase }}
      </a>
    </li>
    <li nz-menu-item nzMatchRouter>
      <a [routerLink]="['about']">
        <span nz-icon nzType="user" nzTheme="outline"></span>
        {{'navbar.about' | translate | uppercase }}
      </a>

    </li>
    <li nz-menu-item nzMatchRouter>
      <a [routerLink]="['projects']">
        <i class="fa-regular fa-folder"></i>
        {{'navbar.projects' | translate | uppercase }}
      </a>
    </li>
    <li nz-menu-item nzMatchRouter>
      <a [routerLink]="['certificates']">
        <i class="fa fa-certificate"></i>
        {{'navbar.certificates' | translate | uppercase }}
      </a>
    </li>

    <li nz-submenu [nzTitle]="'navbar.perfil' | translate | uppercase" nzIcon="mail" nzPlacement="bottomRight">
      <ul>
        <li nz-menu-item>
          <a [href]="linkedin" target="_blank" rel="noopener noreferrer">LINKEDIN</a></li>
        <li nz-menu-item>
          <a [href]="github" target="_blank" rel="noopener noreferrer">GITHUB</a></li>
        <li nz-menu-divider></li>
        <li nz-menu-group [nzTitle]="'navbar.contact' | translate | uppercase">
          <ul>
            <li nz-menu-item>
              <a [href]="mail" target="_blank" rel="noopener noreferrer">MAIL</a></li>
          </ul>
        </li>
      </ul>
    </li>
    <button class="order-2" nz-button  nz-dropdown [nzDropdownMenu]="menu" [nzPlacement]="'bottomRight'" nzType="default"
      style="margin-bottom: 6px; padding: 0 20px;">{{'navbar.cv_download.name' | translate | uppercase }}
    </button>
    <nz-dropdown-menu #menu="nzDropdownMenu">
      <ul nz-menu>
        <li nz-menu-item>
          <a [href]="fileUrl" [attr.download]="'CV_Hans_López_2024_Mayo.pdf'"  target="_blank" rel="noopener noreferrer">
      

          {{'navbar.cv_download.pdf' | translate | uppercase }}
        </a>
        </li>
        <li nz-menu-item>
          <a [href]="fileUrlDocx" [attr.download]="'CV_Hans_López_2024_Mayo.docx'"  target="_blank" rel="noopener noreferrer">
          {{'navbar.cv_download.docx' | translate | uppercase }}
          </a>
        </li>
        <li nz-menu-item>
          <a [href]="fileUrltxt" [attr.download]="'CV_Hans_López_2024_Mayo.txt'"  target="_blank" rel="noopener noreferrer">
          {{'navbar.cv_download.txt' | translate | uppercase }}
          </a>
        </li>
      </ul>
    </nz-dropdown-menu>
  </ul>
</ng-template>