<header>
  <div class="d-flex justify-content-between align-items-end navbar-border">
    <h3 class="float-md-start mb-0">
      <span nz-typography>Hans López</span>
      <h6>
        <span nz-typography nzType="secondary">{{'navbar.fullstack' | translate | uppercase }}</span>
      </h6>
    </h3>

    <ul nz-menu nzMode="horizontal">
      <li nz-menu-item>
        <span nz-icon nzType="home" nzTheme="outline"></span>
        {{'navbar.home' | translate | uppercase }}
      </li>
      <li nz-menu-item>
        <span nz-icon nzType="user" nzTheme="outline"></span>
        {{'navbar.about' | translate | uppercase }}
      </li>
      <li nz-menu-item>
        <i class="fa-regular fa-folder"></i>
        {{'navbar.projects' | translate | uppercase }}
      </li>

      <li nz-submenu [nzTitle]="'navbar.perfil' | translate | uppercase" nzIcon="mail" nzPlacement="bottomRight">
        <ul>
          <li nz-menu-item>LINKEDIN</li>
          <li nz-menu-item>GITHUB</li>
          <li nz-menu-item>TRAILHEAD</li>
          <li nz-menu-divider></li>
          <li nz-menu-group [nzTitle]="'navbar.contact' | translate | uppercase">
            <ul>
              <li nz-menu-item>MAIL</li>
            </ul>
          </li>
        </ul>
      </li>
      <button nz-button nz-dropdown [nzDropdownMenu]="menu" [nzPlacement]="'bottomRight'" nzType="default"
        style="margin-bottom: 6px; padding: 0 20px;">{{'navbar.cv_download.name' | translate | uppercase }}
      </button>
      <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul nz-menu>
          <li nz-menu-item>{{'navbar.cv_download.pdf' | translate | uppercase }}</li>
          <li nz-menu-item>{{'navbar.cv_download.docx' | translate | uppercase }}</li>
        </ul>
      </nz-dropdown-menu>
    </ul>


  </div>
</header>