
<nz-layout class="d-flex h-100 text-center">
  <div class="d-flex h-100 text-center">
    <canvas id="canvas"></canvas>
    <div class="container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <div class="mb-auto"></div>
     <!--<app-navbar class="mb-auto text"></app-navbar> --> 
  
     <app-navbar class="text py-3"></app-navbar>
        <app-home class="px-3 text">
        </app-home>
        <footer class="mt-auto text-white-50 text">
          <p>Cover template for <a href="https://getbootstrap.com/" class="text-white">Bootstrap</a>, by <a href="https://twitter.com/mdo" class="text-white">@mdo</a>.</p>
        </footer>
    </div>
  
  </div>

  
</nz-layout>

<!--


<nz-layout class="app-layout px-0 min-vh-100">
  <nz-layout>
    <app-navbar ></app-navbar>
    <nz-anchor>
      <nz-link nzHref="#about" nzTitle="Basic demo"></nz-link>
      <nz-link nzHref="#components-anchor-demo-static" nzTitle="Static demo"></nz-link>
      <nz-link nzHref="#api" nzTitle="API">
        <nz-link nzHref="#nz-anchor" nzTitle="nz-anchor"></nz-link>
        <nz-link nzHref="#skills" nzTitle="skills"></nz-link>
      </nz-link>
    </nz-anchor>
    <nz-content class="container">
      <app-home></app-home>
      <nz-divider></nz-divider>
      <app-about id="about" ></app-about>
      <nz-divider></nz-divider>
      <app-skills></app-skills>
      <nz-divider></nz-divider>
      <app-skills id="skills"></app-skills>
      <nz-divider></nz-divider>
      <app-skills></app-skills>
      <app-skills></app-skills>
      <app-skills></app-skills>
      <nz-divider></nz-divider>
      <app-skills></app-skills>
      <nz-divider></nz-divider>
      <nz-divider></nz-divider>

    </nz-content>
  </nz-layout>
</nz-layout>

-->