<nz-layout class="d-flex">
  <div class="d-flex">
    <div class="container d-flex w-100 h-100 p-3 mx-auto flex-column ">
      <div class="mb-auto"></div>
      <!--<app-navbar class="mb-auto text"></app-navbar> -->
      <app-navbar class="my-4 px-2"></app-navbar>
      
      <div class="inner-content px-3">
        <router-outlet></router-outlet>
      </div>
      <footer class="mt-auto text-white-50">
        <app-footer></app-footer>
      </footer>
    </div>
  </div>

  <nz-back-top [nzTemplate]="tpl" [nzVisibilityHeight]="150">
    <ng-template #tpl>
      <div class="border rounded h-100 w-100 d-flex justify-content-center align-items-center color-border ant-card-hoverable">
        <span nz-icon nzType="up" style="font-size: 18px;"  nzTheme="outline"></span>
      </div>
    </ng-template>
  </nz-back-top>
</nz-layout>





<!--


<nz-layout class="app-layout px-0 min-vh-100">
  <nz-layout>
    <app-navbar ></app-navbar>
    <nz-anchor>
      <nz-link nzHref="#about" nzTitle="Basic demo"></nz-link>
      <nz-link nzHref="#components-anchor-demo-static" nzTitle="Static demo"></nz-link>
      <nz-link nzHref="#api" nzTitle="API">
        <nz-link nzHref="#nz-anchor" nzTitle="nz-anchor"></nz-link>
        <nz-link nzHref="#skills" nzTitle="skills"></nz-link>
      </nz-link>
    </nz-anchor>
    <nz-content class="container">
      <app-home></app-home>
      <nz-divider></nz-divider>
      <app-about id="about" ></app-about>
      <nz-divider></nz-divider>
      <app-skills></app-skills>
      <nz-divider></nz-divider>
      <app-skills id="skills"></app-skills>
      <nz-divider></nz-divider>
      <app-skills></app-skills>
      <app-skills></app-skills>
      <app-skills></app-skills>
      <nz-divider></nz-divider>
      <app-skills></app-skills>
      <nz-divider></nz-divider>
      <nz-divider></nz-divider>

    </nz-content>
  </nz-layout>
</nz-layout>

-->