<nz-divider></nz-divider>

<div class="py-3 text-end">
    <div class="container">
      <span>
        <a nz-typography >
          &copy; {{year}}
        </a>
      </span>
      <nz-divider nzType="vertical"></nz-divider>
      <span>
        <a nz-button nzType="link" [href]="github" target="_blank">
          Github <span  id="icon" nz-icon nzType="github" nzTheme="fill"></span>
        </a>
        <nz-divider nzType="vertical"></nz-divider>
        <a nz-button nzType="link" [href]="linkedin" target="_blank">
          Linkedin <span  id="icon" nz-icon nzType="linkedin" nzTheme="fill"></span>
        </a>
        <nz-divider nzType="vertical"></nz-divider>
        <a nz-button nzType="link" [href]="mail" target="_blank">
          Mail <span nz-icon nzType="mail" nzTheme="outline"></span>
        </a>
        <nz-divider nzType="vertical"></nz-divider>

      <button style="margin-bottom: 7px; padding: 0 20px;" nz-button nzType="text" *ngIf="(themeChanged$ | async) as themeType" (click)="toggleTheme();">
        <span>
          {{ ((themeChanged$ | async) === ThemeType.Dark ? "settings.theme.default" : "settings.theme.dark") | translate
          }}
        </span>
        <span nz-icon>
          <i *ngIf="themeType === ThemeType.Default" class="fas fa-moon"></i>
          <i *ngIf="themeType === ThemeType.Dark" class="fas fa-sun"></i>
        </span>
      </button>

      </span>

      <nz-divider nzType="vertical"></nz-divider>
      <span>
        <nz-select  [nzSuffixIcon]='"up"' nzPlaceHolder="Language" [(ngModel)]="selectedValue" (ngModelChange)="languageChange($event)" nzBorderless>
          <nz-option *ngFor="let item of language; trackBy :trackByValue" [nzValue]="item.value" [nzLabel]="item.name"></nz-option>
        </nz-select>
      </span>
    </div>
  </div>
  
  <!-- 
  <button nz-button nzType="text" style="margin-bottom: 7px; padding: 0 20px;">
    <i class="fa-solid fa-sun"></i>
    <i class="fa-solid fa-moon"></i>
</button>-->
