<div class="row">
  <div class="col-12 col-sm-12 col-md-4 col-xl-3 px-xl-2">
    <section class="row">
      
      <app-card class="col-12 mb-2">
        <h2 nz-typography class="fw-normal lh-1">Acerca de mí</h2>
        <p nz-typography >Lorem ipsum, dolor sit amet consectetur adipisicing elit. Porro quisquam nobis architecto cumque
          a!
          Quibusdam amet vero quo eius facilis autem, dolorum eum praesentium, saepe odio, cum voluptas! Iusto, sapiente..
        </p>
        <p nz-typography>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. At iure labore quo esse culpa itaque totam dolore nihil
          magni? Cupiditate facilis aperiam explicabo nisi officiis, est ab iure exercitationem architecto!
        </p>
      </app-card>
      <app-card class="col-12">
        <h2 nz-typography class="fw-normal lh-1">Tecnologías</h2>
            <div>
              <app-card>
                <p>Card content</p>
              </app-card>
              <app-card>
                <p>Card content</p>
              </app-card>
              <app-card >
                <p>Card content</p>
              </app-card>
            </div>
        <i class="fa-brands fa-node fa-2xl"></i>
      </app-card>

    </section>

  </div>
  <div class="col-12 col-sm-12 col-md-8 col-xl-9 px-xl-2">
    <nz-list nzGrid>
      <div nz-row [nzGutter]="[16, 8]" >
        <div  nz-col [nzSpan]="24" class="gutter-row" *ngFor="let company of companies;let i = index; let lastWork = last" >
          <app-card  [title]="company.title"
          [id]="transformarId(company.title)">
          <div nz-col *ngFor="let works of company.works ">
            <nz-list-item>
              <nz-list-item-meta class="mb-0">
                <nz-list-item-meta-title>
                  <p>{{ works.title | translate}} </p>
                </nz-list-item-meta-title>
                <nz-list-item-meta-description>
                  <p>{{ works.date | translate}}</p>
                </nz-list-item-meta-description>
              </nz-list-item-meta>
              <p>{{works.description | translate}}</p>
              <ul nz-list-item-actions>
                <nz-list-item-action *ngFor="let tag of works.tags">
                  <p>
                    {{ tag | translate}}
                  </p>
                </nz-list-item-action>
              </ul>
              <nz-list-item-extra>
              </nz-list-item-extra>
            </nz-list-item>
          </div>
          <!--  <nz-divider *ngIf="!lastWork" ></nz-divider> -->

        </app-card>
        </div>


      </div>
    </nz-list>
  </div>
</div>
<!-- 
  <nz-tabset nzTabPosition="left"  style="height: 500px">
    <nz-tab   *ngFor="let company of companies" [nzTitle]="company.title">

      <nz-list  nzGrid>
        <div nz-row [nzGutter]="16">
          <div nz-col [nzXs]="26" *ngFor="let works of company.works; let lastWork = last" [ngClass]="'limited-height-list'">

            <nz-list-item >
                <nz-list-item-meta class="mb-0">
                  <nz-list-item-meta-title>
                    <p>{{ company.title | translate }} </p>
                  </nz-list-item-meta-title>
                  <nz-list-item-meta-description>
                    <p>{{ works.title  | translate}}
                    <nz-divider nzType="vertical"></nz-divider>
                    {{ works.date  | translate}}</p>
                  </nz-list-item-meta-description>
                </nz-list-item-meta>
                <p>{{works.description | translate}}</p>
                <ul nz-list-item-actions>
                  <nz-list-item-action *ngFor="let tag of works.tags">
                    <p>
                      {{ tag  | translate}}
                    </p>
                  </nz-list-item-action>
                </ul>
                <nz-list-item-extra>
                </nz-list-item-extra>
            </nz-list-item>

            <nz-divider *ngIf="!lastWork" ></nz-divider>

          </div>
   
        </div>
      </nz-list>
  

    </nz-tab>
  </nz-tabset>
-->