<div class="row">
    <div class="col-md-7">
        <h2 nz-typography class="fw-normal lh-1">Acerca de mí</h2>
        <p class="lead">Soy un desarrollador Full Stack con experiencia en el desarrollo de aplicaciones web y backend utilizando diferentes tecnologías como Express, Angular y MongoDB. Me gradué como Analista Programador y actualmente estoy estudiando Ingeniería en Informática con mención en Data Science. Como autodidacta, aprendí a programar en NodeJS y comencé a desarrollar bots de Discord y páginas web.</p>
            <p class="lead">
                Con el tiempo, he adquirido habilidades en modelamiento de bases de datos relacionales y no relacionales, API RESTful y front-end, permitiéndome desarrollar soluciones personalizadas y satisfacer las necesidades de mis clientes.

            </p>
      </div>
      <div class="col-md-5">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="300" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-bg)"/><text x="50%" y="50%" fill="var(--bs-secondary-color)" dy=".3em">500x500</text></svg>
      </div>
</div>