<div class="row">
  <div class="col-12 col-sm-12 col-md-5 col-xl-4 px-2">
    <section class="row ">

      <app-card class="col-12 mb-2">
        <h2 class="ant-card-meta-title">{{'about.profile.about' | translate | uppercase}}</h2>
        <p nz-typography>{{'about.profile.text.paragraph_1' | translate }}
        </p>
        <p nz-typography>
          {{'about.profile.text.paragraph_2' | translate }}
        </p>
      </app-card>
      <div  class="sticky-top">

      </div>
      <app-card class="col-12 mb-2" *ngFor="let types of tecnoKeys">
        <h2 class="ant-card-meta-title">
          {{'about.profile.programming.' + types | translate | uppercase }}
        </h2>
        <nz-list nzGrid>
          <div nz-row [nzGutter]="[10,10]">
            <div nz-col class="gutter-row" [nzSpan]="6" *ngFor="let technology of tecnologies[types];"
              ngClass="h-100 w-100">
              <button nz-button nzType="default" nz-popover nzBlock [nzPopoverContent]="contentTemplate"
                nzPopoverPlacement="bottomLeft" class="d-flex justify-content-center align-items-center">
                <i [class]="technology.icon + ' fa-2xl'" *ngIf="technology.icon;"></i>
              </button>
              <ng-template #contentTemplate>
                {{technology.name}}
                <nz-list nzGrid *ngIf="technology.librariesFrameworks?.length > 0">
                  <h3 class="ant-card-meta-title" style="font-size: 12px;">{{'about.profile.libraries' | translate | uppercase }}
                  </h3>
                  <div nz-row [nzGutter]="[10,10]">
                    <div nz-col class="gutter-row" [nzSpan]="8"
                      *ngFor="let librariesFrameworks of technology.librariesFrameworks;let i = index"
                      ngClass="h-100 w-100">
                      <button nz-button nzType="default" nz-popover nzBlock [nzPopoverContent]="newContentTemplate"
                        [nzPopoverPlacement]="positions[i]" class="d-flex justify-content-center align-items-center">
                        <i [class]="librariesFrameworks.icon + ' fa-2xl'" *ngIf="librariesFrameworks.icon;"></i>
                      </button>
                      <ng-template #newContentTemplate>
                        {{librariesFrameworks.name}}
                      </ng-template>
                    </div>
                  </div>
                </nz-list>
              </ng-template>
            </div>
          </div>
        </nz-list>
        <!--
        <div class="text-center text-md-end mt-2">
          <button nz-button nzType="default">Dashed Button</button>
        </div> -->
      </app-card>

    </section>

  </div>
  <div class="col-12 col-sm-12 col-md-7 col-xl-8 px-2">
    <nz-list nzGrid>
      <div nz-row [nzGutter]="[16, 8]">
        <div nz-col [nzSpan]="24" class="gutter-row" *ngFor="let company of companies;let i = index">
          <app-card [title]="company.title" [id]="transformarId(company.title)">
            <div nz-col *ngFor="let works of company.works; let lastWork = last ">
              <nz-list-item>
                <nz-list-item-meta class="mb-0">
                  <nz-list-item-meta-title>
                    <p>{{ works.title | translate}} </p>
                  </nz-list-item-meta-title>
                  <nz-list-item-meta-description>
                    <p>{{ works.date | translate}}</p>
                  </nz-list-item-meta-description>
                </nz-list-item-meta>
                <p>{{works.description | translate}}</p>
                <ul nz-list-item-actions>
                  <nz-list-item-action *ngFor="let tag of works.tags">
                    <p>
                      {{ tag | translate}}
                    </p>
                  </nz-list-item-action>
                </ul>
                <nz-list-item-extra>
                </nz-list-item-extra>
              </nz-list-item>
              <nz-divider *ngIf="!lastWork"></nz-divider>

            </div>

          </app-card>
        </div>


      </div>
    </nz-list>
  </div>
</div>
<!-- 
  <nz-tabset nzTabPosition="left"  style="height: 500px">
    <nz-tab   *ngFor="let company of companies" [nzTitle]="company.title">

      <nz-list  nzGrid>
        <div nz-row [nzGutter]="16">
          <div nz-col [nzXs]="26" *ngFor="let works of company.works; let lastWork = last" [ngClass]="'limited-height-list'">

            <nz-list-item >
                <nz-list-item-meta class="mb-0">
                  <nz-list-item-meta-title>
                    <p>{{ company.title | translate }} </p>
                  </nz-list-item-meta-title>
                  <nz-list-item-meta-description>
                    <p>{{ works.title  | translate}}
                    <nz-divider nzType="vertical"></nz-divider>
                    {{ works.date  | translate}}</p>
                  </nz-list-item-meta-description>
                </nz-list-item-meta>
                <p>{{works.description | translate}}</p>
                <ul nz-list-item-actions>
                  <nz-list-item-action *ngFor="let tag of works.tags">
                    <p>
                      {{ tag  | translate}}
                    </p>
                  </nz-list-item-action>
                </ul>
                <nz-list-item-extra>
                </nz-list-item-extra>
            </nz-list-item>

            <nz-divider *ngIf="!lastWork" ></nz-divider>

          </div>
   
        </div>
      </nz-list>
  

    </nz-tab>
  </nz-tabset>
-->