@import (multiple) '../../../../node_modules/ng-zorro-antd/src/style/themes/dark';

@import "./theme-base.less";

@principal-text-color:#deb563;
@body-background: #131a24;

@text-color: fade(@principal-text-color, 85%);
@text-color-dark: fade(@white, 85%);
@text-color-secondary-dark: fade(@white, 65%);
@text-color-secondary: fade(@principal-text-color, 45%);



//#cfac58
@primary-color: #ffbb00;

nz-card.ant-card.ant-card-bordered.ant-card-hoverable{
  background: #0000001c;
}

.ant-btn-link {
    color: #ffffff;
  }




