@import (multiple) '../../../../node_modules/ng-zorro-antd/src/style/themes/default';
@import "./theme-base.less";

//#cfac58
@primary-color: #373536;
@body-background: #e8eff2;
@principal-text-color:#142c29;

@text-color: fade(@principal-text-color, 85%);

@component-background: #e3e8eb;


@layout-footer-background: transparent;


//@component-background: fade(#142c29, 70%);


nz-card.ant-card.ant-card-bordered.ant-card-hoverable{
    background: #00000007;
  }
 