
    <p nz-typography class="lead">¡Hola!, soy Hans L&oacute;pez, un desarrollador full-stack con especializaci&oacute;n en JavaScript (NodeJS).</p>
    <p nz-typography class="lead">Mi experiencia abarca una amplia gama de aplicaciones y proyectos, desde el desarrollo front-end hasta la creaci&oacute;n de modelos de lenguaje supervisados en el &aacute;mbito de la inteligencia artificial. Sin embargo, mi principal especializaci&oacute;n es en el desarrollo de backend y la creaci&oacute;n de APIs.</p>
    <button class="element-front-action justify-content-center float-md-end" nz-button nzType="text" routerLink="/about"> 
      Forward
      <span nz-icon nzType="right"></span>
    </button>