@import "../../../../node_modules/@fontsource/fira-code/index.css"; // Defaults to weight 400


body {
    font-family: "Fira Code";
  }
  
@font-size-base: 15px;
@font-size-lg: @font-size-base + 2px;
@font-size-sm: 13px;

